#seasonsDiv {
    width: 100%;
    height: 8%;
    display: flex;
}

#seasonsDiv p {
    text-align: left;
    font-size: 36px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
    margin-left: 10%;
    margin-bottom: 0;
}

@media all and (max-width: 1200px) {
    #seasonsDiv p {
        font-size: 30px;
    }

    #staffCardsDiv p {
        font-size: 30px !important;
        margin-left: 0 !important;
    }

    #staffCardsDiv {
        justify-content: center !important;
    }
}