#about {
    height: fit-content;
    width: inherit;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: antiquewhite;
}

.aboutText {
    width: 70vw;
}

.heiwid {
    display: flex;
    justify-content: center;
    height: 7vh;
    width: 100vw;
    margin-bottom: 10px;
}

.aboutButton {
    border: none;
    border-radius: 25px;
    width: 7.72%;
    min-width: 125px;
    min-height: 50px;
}