#about {
    height: fit-content;
    width: inherit;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: #E9CB97;
}

.aboutText {
    width: 70vw;
    line-height: 1.55;
}

.aboutButton {
    border: none;
    border-radius: 25px;
    width: 7.72%;
    min-width: 125px;
    min-height: 50px;
}

@media all and (max-width: 1200px) {
    .aboutText {
        width: 90vw;
    }
}