#sideBarCaller {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(1,1,1,0.3);
    position: fixed;
    right: 15px;
    top: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
}

.menuIcon {
    color: #000;
    width: 22px;
    height: 2px;
    position: relative;
    background-color: currentColor;
}
  
.menuIcon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: currentColor;
}
  
.menuIcon:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: currentColor;
}

@media all and (max-width: 1200px) {
    #sideBarCaller {
        visibility: visible;
    }
}