#header {
    display: flex;
    flex-wrap: nowrap;
    height: 14.8vh;
    width: 100vw;
    justify-content: flex-start;
}

.firstComponent {
    width: 26.7%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.secondComponent {
    width: 41.3%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.secondComponent ul {
    list-style-type: none;
    display: flex;
}

.secondComponent ul :hover {
    color: #a8a8a8;
    transition: 0.3s ease-in-out;
}

.secondComponent a {
    transition: 0.3s ease-in-out;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Arial';
    text-transform: uppercase;
}

.thirdComponent {
    width: 26.7%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 3.2%;
}

.thirdComponent p {
    color: white;  
    margin-right: 35px;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.thirdComponent button {
    color: black;
    height: 34.7%;
    width: 53%;
    background-color:#fff243;
    border: none;
    font-family: 'Roboto',Arial,sans-serif;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    user-select: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

@media all and (max-width: 1200px) {
    #header {
        height: 24vw;
        justify-content: center;
    }

    .secondComponent {
        width: 0;
        visibility: hidden;
    }

    .thirdComponent {
        width: 0;
        visibility: hidden;
    }
}