@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

#gallery {
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: #eff4f8;
}

.image-gallery {
    width: 55%;
    align-self: center;
}

#gallery p {
    text-align: left;
    font-size: 36px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000;
    margin-left: 10%;
    display: flex;
    margin-left: 11%;
}

@media all and (max-width: 1200px) {
    .image-gallery {
        width: 100%;
    }
}

.image-gallery-play-button {
    z-index: 4 !important;
}

.image-gallery-left-nav {
    z-index: 4 !important;
}

.image-gallery-right-nav {
    z-index: 4 !important;
}