#root {
    overflow-x: hidden;
}
#footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 39.7%;
    justify-content: center;
    background-color: black;
}

.firstCol {
    display: flex;
    width: 23.5%;
    height: 65%;
    flex-flow: column;
    align-items: flex-start;
}

.firstCol img {
    width: 50%;
    height: 30%;
}

.firstCol a {
    text-decoration: none;
    color: orangered;
}

.firstCol p {
    color: bisque;
}

.secondCol {
    display: flex;
    width: 22%;
    height: 50.8%;
    flex-flow: column;
    align-items: flex-start;
}

.secondCol :first-child {
    color: bisque;
    font-size: 16px;
    margin-top: 11%;
    margin-bottom: 5.5%;
}

.secondCol a {
    text-decoration: none;
    color: bisque;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.55;
}

.thirdCol {
    display: flex;
    width: 22%;
    height: 55%;
    flex-flow: column;
    align-items: center;
}

.thirdCol :first-child {
    color: bisque;
    font-size: 16px;
    margin-top: 11%;
    margin-bottom: 5.5%;
}

.thirdCol a {
    text-decoration: none;
    color: bisque;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.55;
}

.fourthCol {
    display: flex;
    width: 22%;
    height: 55%;
    align-self: center;
    align-items: center;
    color: bisque;
}

.logo {
    background: #4661b0;
    text-indent: -999em;
    width: 22px;
    height: 31px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 3.5px solid #4661b0;
    border-bottom: 0;
}

.logo:before {
    content: "/20";
    position: absolute;
    background: #4661b0;
    width: 10px;
    height: 27px;
    bottom: -7px;
    right: -9px;
    border: 5px solid white;
    border-radius: 20px;
}

.logo:after {
    content: "/20";
    position: absolute;
    width: 14px;
    top: 13px;
    height: 6px;
    background: white;
    right: 1.5px;
}

.instagram {
    position: relative;
    margin: 0px 15px 0px 15px;
    width: 35px;
    height: 35px;
    border-radius: 18.5%;
    box-shadow: 0 0 7.5vmin rgba(0, 0, 0, 0.5);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  }
  
  .instagram:before, .instagram:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    border: solid 2px #fff;
    transform: translate(-50%, -50%);
    content: '';
  }
  .instagram:before {
    border-radius: 18.5%;
  }
  .instagram:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 6.5px -7.5px 0 -5.5px #fff;
  }

@media all and (max-width:1200px) {
    #footer {
        padding-left: 20px;
        height: initial;
        flex-flow: column;
    }

    .firstCol {
        width: 90%;
        order: 1;
        justify-content: flex-end;
    }

    .secondCol {
        width: initial;
        height: initial;
        align-items: initial;
        margin-top: 15px;
        justify-content: space-around;
        order: 3;
    }

    .secondCol a {
        margin-top: 10px;
    }

    .thirdCol {
        margin-top: 20px;
        width: initial;
        height: initial;
        align-items: initial;
        order: 4;
    }

    .thirdCol a {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .thirdCol :last-child {
        margin-bottom: 20px;
    }

    .fourthCol {
        order: 2;
        width: initial;
        height: initial;
        align-self: unset;
    }
}