#seasonCardHolder {
    height: 83vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seasonCardCollection {
    height: inherit;
    width: 80%;
    display: flex;
    /* align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap; */
}

@media all and (max-width: 1200px) {
    #seasonCardHolder {
        height: unset;
    }

    .seasonCardCollection {
        width: 90%;
        justify-content: space-between;
        flex-flow: column;
    }
}