#seasonCardHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.seasonCardCollection {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

@media all and (max-width: 1200px) {
    #seasonCardHolder {
        height: initial;
    }

    .seasonCardCollection {
        width: 90vw;
        justify-content: space-around;
        flex-flow: row;

        flex-wrap: wrap;
        margin-top: 30px;
    }
}