#seasonCardHolder {
    height: 83vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seasonCardCollection {
    height: inherit;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}