.staffCard {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-flow: column;
    width: 25%;
    height: 85%;
}

.staffCard img {
    height: 80%;
    width: 90%;
}

.staffCard h3 {
    margin-bottom: 10px;
}

.staffCard p {
    margin: 0;
    font-size: 14px;
    line-height: 1.55;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    color: #494949;
    text-align: center;
}

@media all and (max-width: 1200px) {
    .staffCard {
        width: 220px !important;
        height: 435px;
    }

    .staffCard img {
        height: 305px;
        width: 220px;
    }
}