#staffCardsHolder {
    height: 75vh;
    width: 100vw;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}

.staffCardsCollection {
    height: inherit;
    width: 80%;
    background-color: rgb(105, 64, 11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}