#staffCardsHolder {
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.staffCardsCollection {
    height: inherit;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media all and (max-width: 1200px) {
    #staffCardsHolder {
        height: initial;
    }

    .staffCardsCollection {
        justify-content: space-around;
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 60px;
    }
}