#banner {
    /* height: 100vh; */
    width: 100vw;
    background-image: url('./img/photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blurbackground {
    background-color: #000;
    z-index: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bannerContent {
    height: 75.2vh;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannerInfo {
    width: 41.6vw;
    position: relative;
    right: 21vw;
}

#bannerInfo p:nth-of-type(2) {
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    line-height: 1.55;
    font-family: 'Roboto',Arial,sans-serif;
    text-align: left;
    opacity: 0.7;
}

#bannerInfo p:first-child {
    font-size: 32px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 600;
    line-height: 34px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto',Arial,sans-serif;
    text-align: left;
}

.btn {
    font-family: 'Roboto',Arial,sans-serif;
    height: 60px;
    width: 230px;
    border: 0 none;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.yellow-btn {
    color: #000000;
    background-color: #fff243;
    text-decoration: none;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-btn {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #fff;
    margin: 0;
}

.transparent-btn:hover {
    color: #000;
    background-color: #fff243;
    border: none;
}

.bannerBtnWrapper {
    display: flex;
}

.arrow {
    height: 10vh;
    width: inherit;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.arrowDown {
    color: #fff;
    width: 27px;
    height: 27px;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

@media all and (max-width: 1200px) {
    #bannerInfo {
        width: 95vw;
        right: 0;
    }
}

.arrowAnimation {
    position: relative;
    top: 0px;
    animation-name: 'godown';
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes godown {
    0% {top: 0px;}
    5% {top: 1px}
    10% {top: 2px;}
    15% {top: 3px;}
    20% {top: 4px;}
    25% {top: 5px;}
    30% {top: 6px;}
    35% {top: 7px;}
    40% {top: 8px;}
    45% {top: 9px;}
    50% {top: 10px;}
    55% {top: 11px;}
    60% {top: 12px}
    65% {top: 13px;}
    70% {top: 14px;}
    75% {top: 15px;}
    80% {top: 16px;}
    85% {top: 17px;}
    90% {top: 18px;}
    95% {top: 19px;}
    100% {top: 20px;}
}